/*👉# Front-end Style Guide


## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700👈*/
:root {
    --text-color-magenta: hsl(300, 43%, 22%);
    --text-color-pink: hsl(333, 80%, 67%);
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-dark-gray-magenta: hsl(303, 10%, 53%);
    --star-box-background: hsl(300, 24%, 96%);
    --text-color-testimonial: hsl(300, 24%, 96%);

}

* {
    box-sizing: border-box;

}

.wrapper {
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Spartan';
    display: flex;
    flex-direction: column;

    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    background-size: contain;
    background-position: center;
}


.title h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color-magenta);
    font-weight: 700;
    line-height: 2.5rem;
}

.title p {
    color: var(--text-color-dark-gray-magenta);
    text-align: center;
    line-height: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.star-ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.star-icons {
    padding-top: 1rem;
}

.reviews {
    background-color: var(--star-box-background);
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;

}


.reviews p {
    color: var(--text-color-magenta);
    font-weight: 700;

}

.report-guru {
    background-color: var(--star-box-background);
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
}


.report-guru p {
    color: var(--text-color-magenta);
    font-weight: 700;

}

.besttech {
    background-color: var(--star-box-background);
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
}


.besttech p {
    color: var(--text-color-magenta);
    font-weight: 700;

}

.testimonials {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
}

.colton img,
.irene img,
.anne img {
    border-radius: 25px;
    width: 45px;
    height: 45px;
}

.colton {
    height: 100%;
    padding: 2.75rem;
    background-color: var(--text-color-magenta);
    color: var(--text-color-white);
    position: relative;
    border-radius: 10px 10px 10px 10px;

}

.image-name {
    position: absolute;
    left: 30%;
    top: 13.3%;

}

.name {
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 3px;

}

.colton-testimonial {
    color: var(--text-color-testimonial);
    line-height: 27px;
    padding-top: 1rem;
}

.verified {
    color: var(--text-color-pink);
}

.irene {
    height: 100%;
    padding: 2.75rem;
    background-color: var(--text-color-magenta);
    color: var(--text-color-white);
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.irene-testimonial {
    color: var(--text-color-testimonial);
    line-height: 27px;
    padding-top: 1rem;
}

.anne {
    height: 100%;
    padding: 2.75rem;
    background-color: var(--text-color-magenta);
    color: var(--text-color-white);
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.anne-testimonial {
    color: var(--text-color-testimonial);
    line-height: 27px;
    padding-top: 1rem;
}

.big-image-bottom {
    border: solid 1px black;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
    .wrapper {
        max-width: 1440px;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 10rem;



    }

    .title {

        flex-grow: 1;
        flex-basis: 35%;

    }

    .title p {
        text-align: left;
    }

    .title h1 {
        text-align: left;
    }

    .star-ratings {

        justify-content: center;


        flex-basis: 65%;
    }

    .reviews {
        flex-direction: row;
        gap: 2rem;
        width: 400px;
        flex-shrink: 3;
        height: 60px;
        position: relative;
        left: 30%;
        padding-right: 3rem;
        width: 515px;


    }

    .report-guru {
        flex-direction: row;
        gap: 2rem;
        width: 400px;
        flex-shrink: 3;
        height: 60px;
        position: relative;
        left: 38%;
        padding-right: 3rem;
        width: 515px;
    }

    .besttech {
        flex-direction: row;
        gap: 2.5rem;
        flex-shrink: 3;

        height: 60px;
        position: relative;
        left: 45%;
        padding-right: 3rem;
        width: 515px;

    }

    .star-icons {
        padding-top: 0;
    }

    .testimonials {

        flex-basis: 100%;
        flex-direction: row;
        padding-bottom: 4.5rem;
        gap: 2rem;
    }

    .irene {
        position: relative;
        top: 10%;
    }

    .anne {
        position: relative;
        top: 20%;
    }

}